* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav {
  background-color: black;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 15px;
}
.container {
  width: 50%;
  height: 100vh;
  text-align: center;
  position: relative;
  top: 100px;
  left: 25%;
}

.container h3 {
  background-color: black;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 25px;
  border-radius: 5px;
}

.container h3 span {
  background-color: rgb(255, 255, 255);
  color: rgb(43, 43, 43);
  padding-inline: 12px;
  padding-block: 4px;
  border-radius: 5px;
  font-size: 22px;
}
.container button {
  background-color: transparent;
  color: rgb(43, 43, 43);
  margin-top: 20px;
  padding: 14px;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
  font-size: 20px;
  transition: all 0.1s ease-in-out;
}

.container button:active {
  border: 3px solid black;
  font-weight: 600;
}
